p Для восстановления пароля перейдите по ссылке или скопируйте ее в адресную строку браузера:
a(href=link, target="_blank") #{link}
p Если Вы не запрашивали восстановление пароля на albree.ru, то просто проигнорируйте это письмо.