extends ../layout.jade

block content-right
	link(rel="stylesheet", href="/public/css/sign-in-sign-up.css")
	header.page-header.centered
		h1.page-title Вход
		h4.page-description Больше возможностей
	div.content
		div.sign-in-form-container
			form.pure-form.pure-u-1-3
				fieldset.pure-group
					input#name(type='text', placeholder='Email')
					input#password(type='password', placeholder='Пароль')
				button.pure-controls.pure-button.pure-button-primary(type='submit') Войти
				a.restore-pass.pure-button(href='/sign-in/restore') Забыл пароль
			div.below-signin-form
				p.lightweight-p-devider
					| А если еще не с нами, то
				p 
					a.pure-button(href='/sign-up') Зарегистрируйся
