header.page-header.clearfix
  a.s-title(href="/qs") Вопросики
  a.s-h-link(href="/qs/hashtags") ХЕШТЕГИ
  a.s-h-link(href="/qs/choose") ПОДОБРАТЬ ВОПРОС
  a.nav-q-add.pure-button.pure-button-primary(href="/qs/add")
    | ЗАДАТЬ ВОПРОС
