.preloader-img {
  border-radius: 50%;
}


.fw100 {
  font-weight: 100
}
.fw300 {
  font-weight: 300
}
.fw400 {
  font-weight: 400
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.centered {
	text-align:center;
}
