extends ./layout.jade

block content-right
  link(rel="stylesheet", href="/public/css/qs.css")
  header.page-header
    h1.page-title gf
    h3.page-description fg
  div.content
    div.Q-container


